$is_responsive: false;
$has_modifiers: false;

$breakpoints: (
  xs: 0,
  sm: 540px,
  md: 768px,
  lg: 990px,
  xl: 1200px );

// GRID
$grid-columns: 12;
$grid-padding: 15px;
$grid-gutter: 0;

// Grid modifiers
@mixin make-col-modifier($type, $size, $columns) {
	@if $type == push {
		left: if($size > 0, percentage($size / $columns), auto);
	} @else if $type == pull {
		right: if($size > 0, percentage($size / $columns), auto);
	} @else if $type == offset {
		margin-left: percentage($size / $columns);
	}
}

// clearfix placeholder
%clearfix {
  &:before,
  &:after {
    content: '';
    display: table;
  }
  &:after {
    clear: both;
  }
}
