@import 'grid-config';

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: $grid-padding*2;
  padding-right: $grid-padding*2;

  @extend %clearfix;

}
.row {
  margin-left: -$grid-padding;
  margin-right: -$grid-padding;

  @extend %clearfix;
}

[class*='col-'] {
  float: left;
  min-height: 1px;
  padding-left: $grid-padding;
  padding-right: $grid-padding;
  position: relative;
}

// check if responsive
@if $is_responsive == true {
  @each $breakpoint in map-keys($breakpoints) {
    // if breakpoint is xs (0px) don't set a media query
    @if $breakpoint == 'xs' {
      // create those columns
      @for $i from 1 through $grid-columns {
        .col-#{$breakpoint}-#{$i} {
          width: 100% / $grid-columns * $i;
        }
      }
      // create modifiers if wanted
      @if ($has_modifiers) {
        @each $modifier in (pull, push, offset) {
          @for $i from 1 through $grid-columns {
            .#{$modifier}-#{$breakpoint}-#{$i} {
              @include make-col-modifier($modifier, $i, $grid-columns);
            }
          }
        }
      }
    } @else {
      @media only screen and (min-width: map-get($breakpoints, $breakpoint)) {
        @for $i from 1 through $grid-columns {
          .col-#{$breakpoint}-#{$i} {
            width: 100% / $grid-columns * $i;
          }
        }
        // create modifiers if wanted
        @if ($has_modifiers) {
          @each $modifier in (pull, push, offset) {
            @for $i from 1 through $grid-columns {
              .#{$modifier}-#{$breakpoint}-#{$i} {
                @include make-col-modifier($modifier, $i, $grid-columns);
              }
            }
          }
        }
      }
    }
  }
} @else if $is_responsive == false {
    @for $i from 1 through $grid-columns {
      .col-#{$i} {
        width: 100% / $grid-columns * $i;
      }
    }
    // create modifiers if wanted
    @if ($has_modifiers) {
      @each $modifier in (pull, push, offset) {
        @for $i from 1 through $grid-columns {
          .#{$modifier}-#{$i} {
            @include make-col-modifier($modifier, $i, $grid-columns);
          }
        }
      }
    }
  }
